<mat-card class="custom-mat-card-container">
  <mat-card-header>
    <mat-card-title>HAZTE SOCIO</mat-card-title>
    <mat-card-subtitle>POR UNA ESCALDA COMPATIBLE CON EL MEDIO</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="global-text">
      Siendo socio del club haces posible que sigamos creciendo y luchando por la escalada.
    </p>
    <img
      mat-card-image
      class="global-image"
      src="../../../../assets/LogoBlancoTextoColor.png"
      alt="Club Escalada Costa Blanca">
  </mat-card-content>
  <hr>
  <mat-card-header>
    <mat-card-title>FORMULARIO</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- TODO: PENDIENTE HACER FORMULARIO -->
    <p class="global-text">
    </p>
    <form
      [action]=""
      method="POST">
      <mat-form-field>
        <input
          type="name"
          name="Nombre"
          matInput
          placeholder="Nombre"
          required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          type="email"
          name="Email"
          matInput
          placeholder="Email"
          required>
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          type="tel"
          name="Teléfono"
          matInput
          placeholder="Teléfono"
          required>
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>
      <mat-form-field>
          <textarea
            name="Mensaje"
            rows="3"
            matInput
            placeholder="Mensaje"
            required></textarea>
        <mat-icon matSuffix>message</mat-icon>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        class="btn-custom">
        Enviar
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
