<mat-card class="custom-mat-card-container">
  <mat-card-header>
    <mat-card-title>{{contact.title | uppercase}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="global-text">
      {{contact.firstParagraph}}
    </p>
    <p class="global-text">
      <a href="mailto:{{contact.emailCECB}}"
         class="mat-tab-link">
        {{contact.emailCECB}}
      </a>
    </p>
    <p class="global-text">
      {{contact.secondParagraph}}
    </p>
    <mat-card-subtitle>{{contact.formTitle}}</mat-card-subtitle>
    <form
      [action]="contact.formspree"
      method="POST">
      <mat-form-field>
        <input
          type="name"
          name="{{contact.name}}"
          matInput
          placeholder="{{contact.name}}"
          required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          type="email"
          name="{{contact.email}}"
          matInput
          placeholder="{{contact.email}}"
          required>
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          type="tel"
          name="{{contact.phone}}"
          matInput
          placeholder="{{contact.phone}}"
          required>
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>
      <mat-form-field>
          <textarea
            name="{{contact.message}}"
            rows="3"
            matInput
            placeholder="{{contact.message}}"
            required></textarea>
        <mat-icon matSuffix>message</mat-icon>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        class="btn-custom">
        Enviar
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>

