<mat-toolbar
  [color]="'primary'"
  class="toolbar-container">
  <button
    mat-icon-button
    (click)="drawer.toggle()"
    aria-label="Toggle sidenav">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
        Club Escalada Costa Blanca
      </span>
  <span
    class="example-spacer">
      </span>
</mat-toolbar>
<mat-sidenav-container
  class="sidenav-container"
  [hasBackdrop]="false">
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav
    #drawer
    class="example-sidenav"
    mode="push"
    opened="true">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         routerLink="/blog"
         (click)="drawer.close()">
        <mat-icon>article</mat-icon>
        Blog
      </a>
      <a mat-list-item
         routerLink="/about"
         (click)="drawer.close()">
        <mat-icon>info</mat-icon>
        Acerca de nosotros
      </a>
      <a mat-list-item
         routerLink="/socios"
         (click)="drawer.close()">
        <mat-icon>people</mat-icon>
        Hazte socio
      </a>
      <a mat-list-item routerLink="/contacto" (click)="drawer.close()">
        <mat-icon>mail</mat-icon>
        Contacto
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
