.example-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 92%;
}

.toolbar-container {
  height: 8%;
}

/*Idea de imágen de fondo*/
.sidenav-content-container {
  background-image: url('../../../../assets/climber.jpg');
  background-size: cover;
}

@media (min-width: 60em) {
  .sidenav-content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
