.example-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 92%;
}

.toolbar-container {
  height: 8%;
}

/*Idea de imágen de fondo*/
.sidenav-content-container {
  background-image: url("https://images.unsplash.com/photo-1578886141033-b9f066572135?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2xpbWJpbmd8ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
}

@media (min-width: 60em) {
  .sidenav-content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
