<mat-toolbar
  [color]="'primary'"
  class="toolbar-container">
  <button
    mat-icon-button
    (click)="drawer.toggle()"
    aria-label="Toggle sidenav">
    <mat-icon>menu</mat-icon>
  </button>
  <span
    routerLink="/"
    class="cursor-pointer">
    {{home.title}}
  </span>
  <span
    class="example-spacer">
      </span>
</mat-toolbar>
<mat-sidenav-container
  class="sidenav-container"
  [hasBackdrop]="false">
  <mat-sidenav-content
    class="sidenav-content-container">
    <router-outlet></router-outlet>
    <div
      class="footer-container">
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
  <mat-sidenav
    #drawer
    class="example-sidenav"
    [opened]="!isMobile"
    [mode]="sidenavMode">
    <mat-nav-list>
      <a mat-list-item
         routerLink="/blog"
         (click)="closeSidenav(drawer)">
        <mat-icon mat-list-icon>article</mat-icon>
        {{home.sidebar.blog}}
      </a>
      <a mat-list-item
         routerLink="/socios"
         (click)="closeSidenav(drawer)">
        <mat-icon mat-list-icon>people</mat-icon>
        {{home.sidebar.partners}}
      </a>
      <a mat-list-item
         routerLink="/about"
         (click)="closeSidenav(drawer)">
        <mat-icon mat-list-icon>info</mat-icon>
        {{home.sidebar.about}}
      </a>
      <a mat-list-item
         routerLink="/contacto"
         (click)="closeSidenav(drawer)">
        <mat-icon mat-list-icon>mail</mat-icon>
        {{home.sidebar.contact}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
