.mat-card-container {
  margin: 2em;
  max-width: 60em;
}

.mat-card-content {
  margin: 0 1em;
}

.global-text {
  text-align: justify;
}

.global-image {
  max-width: 40em;
}

.margin-1em {
  margin: 1em 0;
}

.margin-vertical-1em {
  margin: 2em 0;
}
