<mat-card class="custom-mat-card-container">
  <mat-card-header>
    <mat-card-title>INFORMACIÓN</mat-card-title>
    <mat-card-subtitle>Organigrama del Club</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="global-text">
      Organigrama formado por vocales de cada comarca de la provincia de Alicante en pro de una comunicación más eficaz entre los miembros del club.
    </p>
    <img
      mat-card-image
      class="global-image"
      src="../../../../assets/mapa-alicante.png">
  </mat-card-content>
  <hr>
  <mat-card-content class="margin-vertical-1em">
    <mat-card-title>Vocales por comarca</mat-card-title>
    <mat-list>
      <ng-container *ngFor="let partner of partners">
        <ng-container *ngIf="!partner.position">
          <mat-list-item>
            <h1 matLine>
              {{partner.address}}
            </h1>
            <p matLine>
              {{partner.firstName}} {{partner.lastName}}
            </p>
            <p matLine *ngIf="partner.name">
              ({{partner.name}})
            </p>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-list>
  </mat-card-content>
  <hr>
  <mat-card-content class="margin-vertical-1em">
    <mat-card-title>Miembros de la Junta Directiva</mat-card-title>
    <mat-list>
      <ng-container *ngFor="let partner of partners">
        <ng-container *ngIf="partner.position">
          <mat-list-item>
            <h1 matLine>
              {{partner.position}}
            </h1>
            <p matLine>
              {{partner.firstName}} {{partner.lastName}}
            </p>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>

