<mat-card class="custom-mat-card-container">
  <mat-card-header>
    <mat-card-title>JUNTA DIRECTIVA C.E.C.B</mat-card-title>
    <mat-card-subtitle>Organigrama del Club</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="global-text">
      La creación de este club surge de una necesidad y un movimiento del colectivo de escaladores de la
      provincia de Alicante, ante una serie de problemas en diferentes sectores de escalada.
      Y es por ello que nos hemos movilizado y organizado para ir de la mano con la F.E.M.E.C.V. en pro de la defensa
      del colectivo y nuestra actividad.
    </p>
    <p class="global-text">
      Se ha creado el siguiente organigrama para poder difundir la información y tener unas vías
      de comunicación entre nosotros, los usuarios de los sectores, la federación,
      las entidades locales y la administración. Formando una red de personas que de forma altruista y
      voluntaria desarrollen las labores de vocales por cada comarca de la provincia:
    </p>
    <img
      mat-card-image
      class="global-image"
      src="../../../../assets/mapa-alicante.png">
  </mat-card-content>
  <hr>
  <mat-card-content class="margin-vertical-1em">
    <mat-card-title>Vocales por comarca</mat-card-title>
    <mat-list>
      <ng-container *ngFor="let partner of partners">
        <ng-container *ngIf="!partner.position">
          <mat-list-item>
            <h1 matLine>
              {{partner.address}}
            </h1>
            <p matLine>
              {{partner.firstName}} {{partner.lastName}}
            </p>
            <p matLine *ngIf="partner.name">
              ({{partner.name}})
            </p>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-list>
  </mat-card-content>
  <hr>
  <mat-card-content class="margin-vertical-1em">
    <mat-card-title>Miembros de la Junta Directiva</mat-card-title>
    <mat-list>
      <ng-container *ngFor="let partner of partners">
        <ng-container *ngIf="partner.position">
          <mat-list-item>
            <h1 matLine>
              {{partner.position}}
            </h1>
            <p matLine>
              {{partner.firstName}} {{partner.lastName}}
            </p>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>

