<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>ACERCA DE NOSOTROS</mat-card-title>
    <mat-card-subtitle>C.E.C.B. POR UNA ESCALDA COMPATIBLE CON EL MEDIO</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="global-text">
      Este club de escaladores/as, tiene como objetivo ser una herramienta de unión y entendimiento,
      en pro de la defensa del medioambiente y la compatibilización de la escalada en todas sus disciplinas,
      con la Consellería de Medioambiente y de la mano de la Federación de deporte de montaña y escalada de la
      Comunidad Valenciana en la provincia de Alicante.
      Brindando la mano para que la escalada y la conservación del entorno natural de nuestra provincia sean
      un ejemplo de entendimiento y una realidad. Siempre regular, antes que prohibir.
    </p>
  </mat-card-content>
  <img
    mat-card-image
    class="global-image"
    src="../../../../assets/logoCECB.png">
</mat-card>
