<ng-container *ngIf="postCard">
  <div class="row">
    <div class="col-3 d-flex align-items-center justify-content-center">
      <lightgallery
        [settings]="GALLERY_SETTINGS"
        [onBeforeSlide]="onBeforeSlide"
      >
        <a
          [attr.href]="postCard.img.src"
          [attr.data-sub-html]="'<h4>' + postCard.title + '</h4>'"
        >
          <img
            [src]="postCard.img.src"
            [alt]="postCard.title"
            [style.max-height.rem]="15"
            [style.max-width.%]="100"
          />
        </a>
      </lightgallery>
    </div>
    <div class="col-9 cursor-pointer"
         (click)="openPost()"
    >
      <h3 class="fw-bold">{{ postCard.title }}</h3>
      <h5>
        {{ postCard.date | date: 'dd MMMM yyyy' }}
      </h5>
    </div>
  </div>
</ng-container>
