<section class="hero-wrapper">
  <div
    class="hero-bg"
    style="
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url(&quot;assets/hero_climber_alt.jpg&quot;);
    "
  ></div>
  <div class="container hero-content">
    <h1 class="display-4 mb-4 font-heading text-white">
      Club de Escalada <span class="text-secondary">Costa Blanca</span>
    </h1>
    <p class="lead mb-5 px-lg-5 text-white">
      Descubre la verticalidad de la Costa Blanca con el club de escalada con
      más historia de la comarca. Pasión por la roca, compromiso con la montaña.
    </p>
    <div class="d-flex gap-3 justify-content-center flex-wrap">
      <a href="#blog" class="btn-outline-white text-decoration-none"
        >Ver Actualidad</a
      >
      <a
        [href]="hazteSocioUrl"
        target="_blank"
        class="btn-premium text-decoration-none"
        >Hazte Socio</a
      >
    </div>
  </div>
</section>

<app-blog id="blog" class="page-section"></app-blog>
<app-sobre-nosotros
  id="sobre-nosotros"
  class="page-section bg-alt"
></app-sobre-nosotros>
<app-contacto id="contacto" class="page-section"></app-contacto>
