<section class="main-section">
  <article>
    <div class="row flex-sm-row-reverse mt-lg-3">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="ps-lg-2">
          <div class="mb-lg-5 mb-3">
            <h1 class="text-primary text-gradient fw-bold">
              {{ about.title }}
            </h1>
            <h3 class="fw-bold">
              {{ about.description.title }}
            </h3>
          </div>
          <p *ngFor="let paragraph of about.description.paragraphs"
             [innerHTML]="paragraph">
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <lightgallery
          [settings]="GALLERY_SETTINGS"
          [onBeforeSlide]="onBeforeSlide"
        >
          <a
            [attr.href]="about.img.src"
            [attr.data-sub-html]="about.img.subHtml"
          >
            <img
              [src]="about.img.thumbnail"
              [alt]="about.title"
              [style.max-width.%]="100"
            />
          </a>
        </lightgallery>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="ps-lg-2">
          <div class="mb-lg-5 mb-3">
            <h2 class="fw-bold text-primary text-gradient">
              {{ about.directive.title }}
            </h2>
          </div>
          <ng-container *ngFor="let item of about.directive.members">
            <div class="mb-5">
              <app-item-card [item]="item"></app-item-card>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <img
          width="100%"
          [src]="about.description.img"
          [alt]="about.description.title">
      </div>
      <div class="mt-5 ps-lg-2">
        <div class="mb-lg-5 mb-3">
          <h2 class="fw-bold text-primary text-gradient">
            {{ about.vowels.title }}
          </h2>
        </div>
        <div class="row">
          <ng-container *ngFor="let item of about.vowels.members">
            <div class="mb-5 col-lg-6">
              <app-item-card [item]="item"></app-item-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </article>
</section>
