<section class="d-flex align-items-center justify-content-center m-2">
  <a routerLink="/">
    <img
      ngSrc="assets/header.webp"
      alt="Club Escalada Costa Blanca"
      width="560"
      height="180"
      priority
      [style.max-width.rem]="35"
      style="height: auto; width: 100%;"
    />
  </a>
</section>

<header class="sticky-top bg-white">
  <nav class="navbar navbar-expand">
    <div class="container justify-content-center">
      <ul class="navbar-nav navbar-expand fw-bold gap-lg-3 align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#blog">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre-nosotros">
            Sobre nosotros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>



</main>
<footer>
  <div class="col-12 text-center">
    <h3>Trabajamos en colaboración con:</h3>
    <a href="https://femecv.com" target="_blank">
      <img
        ngSrc="assets/femecv.png"
        alt="FEMECV"
        width="300"
        height="194"
        class="img-fluid"
        style="max-width: 300px; height: auto;"
      />
    </a>
  </div>
  <section
    class="footer d-flex flex-column align-items-center justify-content-center mb-2"
  >
    <div class="d-flex">
      @for (item of contact.items; track item) {
        <a
          class="footer-icon"
          href="{{ item.link }}"
          target="_blank"
          title="{{ item.name }}"
          itemprop="significantLink"
        >
          <i class="bi-{{ item.img }}"></i>
        </a>
      }
    </div>
    <div class="d-flex justify-content-center">
      <a routerLink="/" class="footer-logo" title="Club Escalada Costa Blanca">
        <img
          ngSrc="assets/header.webp"
          alt="Club Escalada Costa Blanca"
          width="320"
          height="103"
          [style.max-width.rem]="20"
          style="height: auto; width: 100%;"
        />
      </a>
    </div>
  </section>
</footer>
