<section class="d-flex align-items-center justify-content-center m-2">
  <a routerLink="/">
    <img
      src="./assets/header.webp"
      alt="Club Escalada Costa Blanca"
      width="100%"
      [style.max-width.rem]="35"
    />
  </a>
</section>

<header class="sticky-top bg-white">
  <nav class="navbar navbar-expand">
    <div class="container justify-content-center">
      <ul class="navbar-nav navbar-expand fw-bold gap-lg-3 align-items-center">
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/blog">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/sobre-nosotros">
            Sobre nosotros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/contacto">
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <section class="footer d-flex flex-column align-items-center justify-content-center mb-2">
    <div class="d-flex">
      <ng-container *ngFor="let item of contact.items">
        <a class="footer-icon"
           href="{{item.link}}"
           target="_blank"
           title="{{item.name}}"
           itemprop="significantLink">
          <i class="bi-{{item.img}}"></i>
        </a>
      </ng-container>
    </div>
    <div class="d-flex justify-content-center">
      <a routerLink="/"
         class="footer-logo"
         title="Club Escalada Costa Blanca">
        <img src="./assets/header.webp"
             alt="Club Escalada Costa Blanca"
             width="100%"
             [style.max-width.rem]="20"
        >
      </a>
    </div>
  </section>
</footer>
