<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<mat-toolbar-row class="footer">
  <span class="example-spacer"></span>
  <mat-icon class="margin-icon">
    <i class="fa fa-facebook"></i>
  </mat-icon>
  <mat-icon class="margin-icon">
    <i class="fa fa-instagram"></i>
  </mat-icon>

  <span class="example-spacer"></span>
  <span>© 2022 Copyright:
    <a href="https://clubescaladacostablanca.com"
       class="mat-tab-link">
      clubescaladacostablanca.com
    </a>
  </span>
  <span class="example-spacer"></span>
</mat-toolbar-row>
