<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<mat-toolbar-row class="footer">
  <span class="example-spacer"></span>
  <div>
    <mat-icon class="margin-icon">
      <a href="https://www.facebook.com/groups/929089841231971">
        <i class="fa fa-facebook mat-tab-link"></i>
      </a>
    </mat-icon>
    <mat-icon class="margin-icon">
      <a href="https://www.facebook.com/groups/929089841231971">
        <i class="fa fa-instagram mat-tab-link"></i>
      </a>
    </mat-icon>
    <mat-icon class="margin-icon">
      <a href="https://github.com/endermejia/clubescaladacostablanca">
        <i class="fa fa-github mat-tab-link"></i>
      </a>
    </mat-icon>
  </div>
  <span class="example-spacer"></span>
  <span>
    <a href="https://clubescaladacostablanca.com"
       class="mat-tab-link">
      clubescaladacostablanca.com
    </a>
  </span>
  <span class="example-spacer"></span>
</mat-toolbar-row>
